/* 

  Limpando as formatações padrões " há diferença entre os navegadores, é convecional zerar algumas coisas "

  O CSS vai estar dividido por setores : Layput, Menu e formatações gerais.
  
  Dentro desses setores, estarão dispostos por hierarquia :

  Id = 100 pontos

  Classes e seus derivados = 10 pontos

  Tags = 1

  LEMBRANDO !!!!!
  a estilização in-line vale 1000 pontos, mas como essa pag é extrena então não terá contato com algum in-line, vale deixar lembrado. 

*/

* {
  margin: 0;
  padding: 0;
}

body{
  font-size: 1em; /* Equivale a 16px o padrão usado no Google Chrome */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}

/* 

  Layout da página

*/

#cabecalho{
  background-color: darkturquoise;
  padding: 15px;
  text-align: center;
}

#logo, #menu{
  padding: 10px;

}

#principal{
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#posts{
  width: 660px;
  float: left;
}

#lateral{
  width: 240px;
  float: right;
}

#footer{
  clear: both;
  text-align: center;
  padding: 15px;
  background: #CCC;
}

.post{
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.sub_conteudo{
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.posts_recentes{
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px solid black;  
}


/*

  Menu

*/

a{
  text-decoration: none;
}

a:link, a:visited{
  color: darkturquoise;
}

a:hover{
  text-decoration: underline;
}


#cabecalho a:link, #cabecalho a:visited{
  color: whitesmoke;
  padding: 8px 12px;
}

#cabecalho a:hover{
  color: #181818;
}


/*

  Gerais

*/

.azure{
  color: Azure;
}

.data_postagem{
  font-size: 0.8em;
  border-bottom: 1 px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

h1{
  color: #181818;
  font-size: 2.5em;
}

h2{
  color:  darkturquoise;
}

h3{
  color:  #565656;
  background: #CCC;
  padding: 5px;
}